:root {
  --title-font: "ITCSerifGothicHeavy";
  --button-color: #79a4ab;
}

body {
  font-family: "'Source Sans Pro', sans-serif";
  font-size: 16px;
  color: #272044;
  margin: 0;
}
.site-container {
  margin: 0 auto;
  max-width: 1400px;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.first-row {
  margin-bottom: 64px;
}
.section-1-text {
  margin-right: 100px;
}
.section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px 60px;
}
.text-center {
  text-align: center;
}
header {
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.4)),
    url("../Images/Madison-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}
h1 {
  font-family: var(--title-font);
  font-size: 128px;
  font-weight: 700;
  margin: 30px 0;
  line-height: 1;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}
main h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  line-height: 20px;
}
.h2-light-box {
  background-color: #79a4ab5e;
  display: block;
  width: 280px;
  padding-left: 5px;
  margin: 60px;
  color: #1a2627;
}
.h2-songs-box {
  background-color: #1a2627;
  display: block;
  width: 80px;
  padding-left: 5px;
  margin: 60px auto 0;
  color: #ffffff;
}
.link-button {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 100px;
  background-color: var(--button-color);
  color: #ffffff;
}
.img-responsive {
  display: block;
  max-width: 100%;
  filter: brightness(80%) sepia(18%);
}
main p {
  margin: 0;
  opacity: 0.7;
}
main h3 {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 700;
  margin: 30px 0;
}
.favorite-songs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/madison-beer-songs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
}
.card-embeded-video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px 10px 0 0;
}
.card-body p,
.card-body h4,
.card-body h5 {
  padding: 0 20px;
}
.card-footer {
  text-align: center;
  padding: 0 0 30px;
}
h4 {
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.favorite-songs h3 {
  color: #ffffff;
}
.h2-more-songs-box {
  margin: 60px auto;
  width: 160px;
}
.embeded-song-frame {
background-color: #282828;
border-radius: 12px;
}
.embeded-song {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.7) 50%
    ),
    url("../Images/madison-beer-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  font-size: 16px;
  line-height: 24px;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer h3 {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
@media (max-width:1250px){
  .section-container{
  padding: 30px 20px 60px;
}
.section-1-text a{
  margin-bottom: 15px ;
}
}
@media (max-width: 900px) {
  header {
    padding: 40px 0;
  }
  h1 {
    font-size: 64px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid-2-col{
   grid-template-columns: 1fr;
  }
  .grid-3-col{
    grid-template-columns: 1fr 1fr;
  }
  .img-responsive{
    margin:0 auto;
  }
  .section-1-text{
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
  }
  .h2-light-box{
    margin: 0 auto;
  }
  .card{
    margin: 0 auto;
  }
}
@media (max-width:580px){
.grid{
  grid-template-columns: 1fr;
}
.first-row{
  margin-bottom:32px;
}
footer{
  text-align: center;
}
}