:root {
  --title-font: "ITCSerifGothicHeavy";
  --button-color: #79a4ab;
}

body {
  font-family: "'Source Sans Pro', sans-serif";
  font-size: 16px;
}
.site-container {
  margin: 0 auto;
  max-width: 1400px;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.section-1-text {
  margin-right: 100px;
}
footer section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.4)),
    url("../Images/Madison-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}
h1 {
  font-family: var(--title-font);
  font-size: 128px;
  font-weight: 700;
  margin: 30px 0;
  line-height: 1;
}
h3 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}
h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}
h6 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  line-height: 20px;
}
.h6-box {
  background-color: #79a4ab5e;
  display: block;
  width: 230px;
  padding-left: 5px;
  margin-top: 60px;
}
.link-button {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 100px;
  background-color: var(--button-color);
  color: #ffffff;
}
.img-responsive {
  display: block;
  max-width: 100%;
}
main p {
  margin: 0;
  opacity: 0.7;
}

h2 {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 700;
  margin: 30px 0;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.7) 50%
    ),
    url("../Images/madison-beer-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  font-size: 16px;
  line-height: 24px;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h5 {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 64px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
